/*
 * This file is part of ShowRenamer.
 *
 * ShowRenamer is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ShowRenamer is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ShowRenamer.  If not, see <https://www.gnu.org/licenses/>.
 */

.root {
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(to top, #d3ddeb, #f2f2f2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text {
    -fx-font-smoothing-type: lcd;
}

.card {
    -fx-background-radius: 15px;
    -fx-background-color: #ffffff;
}

.heading {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #919191;
}

.section-container {
    -fx-padding: 40px 40px 40px 40px;
}

.section-container-buttons {
    -fx-padding: 40px 40px 20px 40px;
}

.section {
    -fx-padding: 20px;
}

.button-padding {
    /* -fx-padding: 20px; */
    -fx-padding: 20px 20px 0 20px;
    -fx-border-insets: 0 0 -20px 0;
    -fx-background-insets: 0 0 -20px 0;
}

.section-heading {
    -fx-padding: 0 0 20px 0;
    -fx-border-insets: 0 0 20px 0;
    -fx-background-insets: 0 0 20px 0;
}

.button-primary {
    -fx-padding: 6px 40px;
    -fx-background-radius: 20px;
    -fx-background-color: #3298e3;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}

.button-primary:hover {
    -fx-background-color: #277ab8;
    -fx-cursor: hand;
}

.button-primary:pressed {
    -fx-background-color: #146fb3;
}

.button-secondary {
    -fx-padding: 4px 10px;
    -fx-background-radius: 20px;
    -fx-background-color: #b8b8b8;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: #ffffff;
}

.button-secondary:hover {
    -fx-background-color: #969696;
    -fx-cursor: hand;
}

.button-secondary:pressed {
    -fx-background-color: #858383;
}

.check-box {
    -fx-text-fill: #727272;
    -fx-padding: 6px 0;
}

.check-box > .box {
    -fx-border-radius: 4px;
    -fx-background-color: #ffffff;
    -fx-border-color: #3298e3;
    -fx-padding: 2px;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
    -fx-background-color: #3298e3;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .list-cell {
    -fx-font-size: 14px;
}

.list-view .list-cell:even,
.list-view .list-cell:even:focused {
    -fx-background-color: #ffffff;
}

.list-view .list-cell:odd,
.list-view .list-cell:odd:focused {
    -fx-background-color: #fcfcfc;
}

.scroll-bar:vertical {
    -fx-pref-width: 0.2em;
}

.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
    -fx-background-insets: 0;
}

.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button,
.scroll-bar:vertical > .decrement-button > .decrement-arrow,
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 0;
}

.scroll-bar:vertical > .track {
    -fx-background-color: #ededed;
}

.scroll-bar:vertical > .thumb {
    -fx-padding: 0;
    -fx-background-insets: 1px 0;
    -fx-background-radius: 0;
    -fx-background-color: #3298e3;
}

#label-upload {
    -fx-font-size: 25px;
}
