/*
 * This file is part of ShowRenamer.
 *
 * ShowRenamer is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ShowRenamer is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ShowRenamer.  If not, see <https://www.gnu.org/licenses/>.
 */

.text {
    -fx-font-smoothing-type: gray;
}

.root {
    -fx-font-size: 16.0;
    -fx-background-color: #ffffff;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #e8e8e8;
}

.text-field:focused {
    -fx-border-color: #387eff;
}

.button {
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to right, #030045, #002869);
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #06008f, #0052d5);
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: linear-gradient(to right, #030045, #002869);
    -fx-text-fill: #ffffff;
}

.buttonMenu {
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to right, #030045, #002869);
    -fx-text-fill: #ffffff;
    -fx-font-weight: normal;
}

.buttonMenuSelected {
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to right, #06008f, #0052d5);
    -fx-text-fill: #ffffff;
    -fx-font-weight: normal;
}

.buttonMenu:hover, .buttonMenuSelected:hover {
    -fx-background-color: linear-gradient(to right, #06008f, #0052d5);
    -fx-font-weight: normal;
}

.buttonMenu:pressed {
    -fx-background-color: #0044ff;
}

.buttonMenu > .text, .buttonMenuSelected > .text {
    -fx-font-size: 16.0;
}

.hyperlink {
    -fx-text-fill: #0d62ff;
}

.hyperlink:pressed {
    -fx-text-fill: #387eff;
}

.combo-box-base {
    -fx-background-color: #ffffff;
    -fx-border-color: #e8e8e8;
}

.combo-box-base:focused {
    -fx-border-color: #387eff;
}

.combo-box-popup .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box-popup .list-cell:selected, .combo-box-popup .list-cell:hover {
    -fx-background-color: #387eff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-input, .text-input:focused {
	-fx-prompt-text-fill: derive(-fx-control-inner-background, -50%);
}

.progress-bar .bar {
	-fx-background-color: -fx-accent;
	-fx-background-radius: 2;
	-fx-background-insets: 0, 1, 2;
	-fx-padding: 0.416667em;
}

.progress-bar .track {
    -fx-background-color: #ffffff;
    -fx-border-color: #e8e8e8;
}

.list-view {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.list-cell, .list-cell:focused {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.list-view .list-cell:filled:selected:focused, .list-view .list-cell:filled:selected {
    -fx-background-color: linear-gradient(to right, #030045, #002869);
    -fx-text-fill: white;
}

.list-view > .list-cell:even {
    -fx-background-color: #fafafa;
}

.list-view > .list-cell:odd {
    -fx-background-color: #f5f5f5;
}

.check-box {
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to right, #030045, #002869);
    -fx-text-fill: #ffffff;
    -fx-padding: 6px 10px;
}

.check-box > .box {
    -fx-background-radius: 8px;
    -fx-background-color: white;
    -fx-padding: 3px;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
    -fx-background-color: #030045;
}