/*@font-face {*/
/*    font-family: 'Moon 2.0';*/
/*    src: url('Moon2.0-Regular.otf');*/
/*}*/

.text {
    /*-fx-font-family: "Moon 2.0";
    -fx-font-size: 105%;
    */
    -fx-font-smoothing-type: gray;
}

.root {
    /*-fx-font-family: "Moon 2.0";*/
    -fx-font-size: 16.0;
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #e8e8e8;
}

.text-field:focused {
    -fx-border-color: #387eff;
}

.button {
    -fx-background-radius: 30px;
    -fx-background-color: linear-gradient(to right, #030045, #002869);
    -fx-text-fill: #ffffff;

}

.button:hover {
    -fx-background-color: #387eff;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #0d62ff;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.buttonMenu {
    -fx-background-radius: 0px;
    -fx-background-color: #387eff;
    -fx-text-fill: #ffffff;
    -fx-font-weight: normal;
}

.buttonMenu > .text {
    -fx-font-size: 24.0;
}

.buttonMenu:hover {
    -fx-background-color: #0d62ff;
    -fx-font-weight: normal;
}

.buttonMenu:pressed {
    -fx-background-color: #0044ff;
}

.buttonMenuSelected {
    -fx-background-radius: 0px;
    -fx-background-color: #0d62ff;
    -fx-text-fill: #ffffff;
    -fx-font-weight: normal;
}

.buttonMenuSelected > .text {
    -fx-font-size: 24.0;
}

.buttonMenuSelected:hover {
    -fx-background-color: #0d62ff;
    -fx-font-weight: normal;
}

.hyperlink {
    -fx-text-fill: #0d62ff;
}

.hyperlink:pressed {
    -fx-text-fill: #387eff;
}

.combo-box-base {
    -fx-background-color: #ffffff;
    -fx-border-color: #e8e8e8;
}

.combo-box-base:focused {
    -fx-border-color: #387eff;
}

.combo-box-popup .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box-popup .list-cell:selected, .combo-box-popup .list-cell:hover {
    -fx-background-color: #387eff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-input, .text-input:focused {
	-fx-prompt-text-fill: derive(-fx-control-inner-background, -50%);
}

.progress-bar .bar {
	-fx-background-color: -fx-accent;
	-fx-background-radius: 2;
	-fx-background-insets: 0, 1, 2;
	-fx-padding: 0.416667em;
}

.progress-bar .track {
	-fx-background-color: #ffffff;
	-fx-border-color: #e8e8e8;
}

.groupIcon {
	-fx-border-color: gray;
    -fx-border-style: solid;
    -fx-border-width: 2;
}